Q1. What are the key features of the wine quality data set? Discuss the importance of each feature in predicting the quality of wine.

In [8]:
import seaborn as sb
import pandas as pd

In [9]:
wineset = pd.read_csv('WineQT.csv')

In [10]:
wineset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

Here, every feature is important for our data as all these constituents make up a good quality of wine. The appropriate amount(volume) of each feature is very necessary while preparing wine. A little bit of here and there can lead to deterioration of wine.

Q2. How did you handle missing data in the wine quality data set during the feature engineering process? Discuss the advantages and disadvantages of different imputation techniques.

To handle missing values in this dataset, we have few techniques:
    
1. Removing the null fields

In this method, we simply remove all the rows/columns which are having null values.

Advantage: We dont have to perform much operation in this as it simply involves data deletion.

Disadvantage: In data analysis, we avoid data loss and by performing this method, we might lose important data.

2. Mean/Median Imputation

In this method, we simply replace all the blank fields with either mean or median value.

Advantage: There will be no data loss.
           In case our data is having outliers, we will replace the null values with median.

Q3. What are the key factors that affect students' performance in exams? How would you go about analyzing these factors using statistical techniques?

There are various factors that affects student performance in exams. Some of them are mentioned below:

1. Study habits and strategies(involves studying hours),

2. Parental involvement and support(how much parent support the child),

3. Quality of teaching and curriculum(how the student is taught in class), etc.

___Step1: Data Collection___

We will collect the required data from random students like:
    
    A. number of hours they study daily
    B. how much support they get from their parents on a scale of (1-10)
    C. quality of education they receive on a scale of (1-10)

___Step2: Data EDA and Analysis___

After collecting this data, we will perform EDA and then analyze the statistical figure out of it.

We will also use correlation to find out the relation b/w these parameters .

___Step3: Model Training___

Once we have the final data, we will train the model and then predict the outcome. (Outcome will be like whether the student will Pass or Fail).

As the outcome is binary, we will use different classification models and perform hyper-parameter tuning to get best accuracy from the model.

Q4. Describe the process of feature engineering in the context of the student performance data set. How did you select and transform the variables for your model?

In [1]:
# Creating the data

import numpy as np
import pandas as pd

In [5]:
study_hours = np.random.randint(2,14,30,int)
parental_support = np.random.randint(1,10,30,int)
quality_edu = np.random.randint(1,10,30,int)
Result = np.random.randint(0,2,30,int)

In [7]:
Study = pd.DataFrame(study_hours,columns=['Studying'])
Support = pd.DataFrame(parental_support,columns=['Support'])
Education = pd.DataFrame(quality_edu,columns=['Education'])
Result = pd.DataFrame(Result,columns=['ExamResult'])

In [8]:
d1 = pd.concat([Study,Support],axis=1)

In [10]:
d2 = pd.concat([d1,Education],axis=1)

In [12]:
Survey = pd.concat([d2,Result],axis=1)

In [13]:
Survey.head()

   Studying  Support  Education  ExamResult
0         5        7          7           1
1         3        5          3           0
2         9        4          2           0
3        13        2          7           1
4         6        7          6           1

We have the dataset ready but there are no missing values.

Here, the output is binary so we will use classification models. Lets use one Classification model to train the data

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
DTC = DecisionTreeClassifier()

In [20]:
X = Survey.iloc[:,:-1]

In [25]:
Y = Survey['ExamResult']

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=35)

In [29]:
DTC.fit(x_train,y_train)

DecisionTreeClassifier()

In [30]:
y_pred = DTC.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [32]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.00      0.00      0.00         1\n           1       0.80      0.80      0.80         5\n\n    accuracy                           0.67         6\n   macro avg       0.40      0.40      0.40         6\nweighted avg       0.67      0.67      0.67         6\n'

In [33]:
confusion_matrix(y_test,y_pred)

array([[0, 1],
       [1, 4]])

In [34]:
accuracy_score(y_test,y_pred)

0.6666666666666666

Q5. Load the wine quality data set and perform exploratory data analysis (EDA) to identify the distribution of each feature. Which feature(s) exhibit non-normality, and what transformations could be applied to these features to improve normality?

In [35]:
wine_check = pd.read_csv('WineQT.csv')

In [36]:
wine_check.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [37]:
# Lets perform EDA in this dataset...

In [42]:
# For Missing values

wine_check.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

Conclusion: There are no missing values in any column.

In [43]:
# For duplicate values

wine_check.duplicated().sum()

0

Conclusion: There are no duplicate values in dataset.

In [40]:
# Reviewing the statistical measures

wine_check.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043,804.969379
std,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824,463.997116
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.205000,0.550000,9.500000,5.000000,411.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000,794.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997845,3.400000,0.730000,11.100000,6.000000,1209.500000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000,1597.000000

In [41]:
# Checking the data types of columns

wine_check.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
Id                        int64
dtype: object

Conclusion: All the columns have correct data type and there is no need of improvement

In [48]:
# Checking value counts

wine_check.value_counts()

fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  density  pH    sulphates  alcohol  quality  Id
4.6            0.52              0.15         2.1             0.054      8.0                  65.0                  0.99340  3.90  0.56       13.1     4        45      1
8.7            0.54              0.26         2.5             0.097      7.0                  31.0                  0.99760  3.27  0.60       9.3      6        630     1
               0.70              0.24         2.5             0.226      5.0                  15.0                  0.99910  3.32  0.60       9.0      6        567     1
               0.69              0.31         3.0             0.086      23.0                 81.0                  1.00020  3.48  0.74       11.6     6        499     1
                                                                                                                                                                493     1
                                                                                                                                                                       ..
7.4            0.53              0.26         2.0             0.101      16.0                 72.0                  0.99570  3.15  0.57       9.4      5        221     1
               0.55              0.19         1.8             0.082      15.0                 34.0                  0.99655  3.49  0.68       10.5     5        1245    1
               0.58              0.00         2.0             0.064      7.0                  11.0                  0.99562  3.45  0.58       11.3     6        985     1
               0.60              0.26         2.1             0.083      17.0                 91.0                  0.99616  3.29  0.56       9.8      6        1329    1
15.9           0.36              0.65         7.5             0.096      22.0                 71.0                  0.99760  2.98  0.84       14.9     5        652     1
Length: 1143, dtype: int64

As the output is continuous, we will use a regresion model for further analysis of data.

Q6. Using the wine quality data set, perform principal component analysis (PCA) to reduce the number of features. What is the minimum number of principal components required to explain 90% of the variance in the data?

In [50]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# Load the datset
red_wine = pd.read_csv('WineQT.csv')

# Standardize the dataset (excluding the target variable 'quality')
features = red_wine.drop(columns=['quality'])
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Perform PCA
pca = PCA()
pca.fit(scaled_features)

# Calculate the cumulative explained variance
cumulative_explained_variance = pca.explained_variance_ratio_.cumsum()

# Find the number of components required to explain 90% of the variance
n_components = next(i for i, cumulative_variance in enumerate(cumulative_explained_variance) if cumulative_variance >= 0.90) + 1

print("Number of components to explain 90% of the variance:", n_components)

Number of components to explain 90% of the variance: 8