Q1. What is data encoding? How is it useful in data science?

Data encoding is a simple method to convert categorical data into numerical data. It is very important in data science because whenever we create a model, we know that model works on algorithm which understands only numeric values. If we try to give categorical data to model as input, it will simply not understand and will give us error. So, to avoid this challenge, we use the concept of Data encoding.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding is also known as OneHotEncoder. In nominal encoding, each category in a categorical variable is represented in binary format, where each binary digit represents whether the observation belongs to that category or not.

In [8]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    'Customer ID': [1, 2, 3, 4, 5],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Payment Method': ['Credit Card', 'Debit Card', 'PayPal', 'Credit Card', 'PayPal']
}
df = pd.DataFrame(data)

categorical_cols = ['Gender', 'Payment Method']
X_categorical = df[categorical_cols]

encoder = OneHotEncoder(sparse=False, drop='first')
X_encoded = encoder.fit_transform(X_categorical)

encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_cols))

final_df = pd.concat([df.drop(columns=categorical_cols), encoded_df], axis=1)
print(final_df)

   Customer ID  Gender_Male  Payment Method_Debit Card  Payment Method_PayPal
0            1          1.0                        0.0                    0.0
1            2          0.0                        1.0                    0.0
2            3          1.0                        0.0                    1.0
3            4          0.0                        0.0                    0.0
4            5          1.0                        0.0                    1.0

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

1. Whenever we have a large number of unique categories under categorical data, we use Nominal encoding.

2. Algorithm supportability: There are various ML algorithms like decision trees, random forests, gradient boosting which can handle nominal encoding more efficiently as compared to one hot encoding.

In [12]:
import pandas as pd

data = {
    'Customer ID': [1, 2, 3, 4, 5],
    'Education Level': ['High School', 'Bachelor\'s Degree', 'Master\'s Degree', 'Ph.D.', 'Bachelor\'s Degree']
}
df = pd.DataFrame(data)

# Nominal encoding (integer encoding) for Education Level
education_mapping = {
    'High School': 0,
    'Bachelor\'s Degree': 1,
    'Master\'s Degree': 2,
    'Ph.D.': 3
}
df['Education Level Encoded'] = df['Education Level'].map(education_mapping)

print(df[['Customer ID', 'Education Level', 'Education Level Encoded']])

   Customer ID    Education Level  Education Level Encoded
0            1        High School                        0
1            2  Bachelor's Degree                        1
2            3    Master's Degree                        2
3            4              Ph.D.                        3
4            5  Bachelor's Degree                        1

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

In [35]:
city = pd.DataFrame({'code':[102,403,532,642,293],
              'location':['goa','mumbai','pune','delhi','kolkata']})

In [36]:
city

   code location
0   102      goa
1   403   mumbai
2   532     pune
3   642    delhi
4   293  kolkata

In [37]:
updated = OHE.fit_transform(city[['location']])

In [38]:
updated

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [39]:
new = pd.DataFrame(updated.toarray(),columns=['delhi','goa','kolkata','mumbai','pune'])

In [40]:
final_coding = pd.concat([city,new],axis=1)

In [41]:
final_coding

   code location  delhi  goa  kolkata  mumbai  pune
0   102      goa    0.0  1.0      0.0     0.0   0.0
1   403   mumbai    0.0  0.0      0.0     1.0   0.0
2   532     pune    0.0  0.0      0.0     0.0   1.0
3   642    delhi    1.0  0.0      0.0     0.0   0.0
4   293  kolkata    0.0  0.0      1.0     0.0   0.0

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

In [46]:
import pandas as pd

sheet = {
    'CategoryA': ['A', 'B', 'C', 'A', 'B'],
    'CategoryB': ['X', 'Y', 'X', 'Z', 'Z'],
    'Numerical1': [10, 20, 15, 30, 25],
    'Numerical2': [5, 8, 7, 9, 6],
    'Numerical3': [100, 150, 120, 200, 180]
}

dataset = pd.DataFrame(sheet)

encoded_data = pd.get_dummies(dataset, columns=['CategoryA', 'CategoryB'])

print("Original Dataset:")
print(dataset)

print("\nDataFrame after nominal encoding:")
print(encoded_data)

print("\nNumber of new columns created after encoding:", encoded_data.shape[1] - df.shape[1])

Original Dataset:
  CategoryA CategoryB  Numerical1  Numerical2  Numerical3
0         A         X          10           5         100
1         B         Y          20           8         150
2         C         X          15           7         120
3         A         Z          30           9         200
4         B         Z          25           6         180

DataFrame after nominal encoding:
   Numerical1  Numerical2  Numerical3  CategoryA_A  CategoryA_B  CategoryA_C  \
0          10           5         100            1            0            0
1          20           8         150            0            1            0
2          15           7         120            0            0            1
3          30           9         200            1            0            0
4          25           6         180            0            1            0

   CategoryB_X  CategoryB_Y  CategoryB_Z
0            1            0            0
1            0            1            0
2            1            0            0
3            0            0            1
4            0            0            1

Number of new columns created after encoding: 4

Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

Label encoding is suitable when we have ordinal categorical variables.
Example: If my dataset includes variable like "diet" with categories such as herbivore, omnivore, and carnivore, then I will assign numeric labels like 0, 1, and 2 using label encoding.

One-hot encoding is also appropriate for nominal categorical variables, where there is no such hierarchy among the categories.
Example: If my dataset has categorical variable like "habitat" with categories like land,water, and forest then, one-hot encoding will create separate binary columns for each category, representing the presence or absence of that category for each animal.

Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

___Step1: Identify Categorical Features in the data___

Gender: Binary categorical feature (Male/Female)

Contract Type: This will be a multi-categorical feature (Monthly, yearly, weekly)

___Step2: Selecting Encoding Techniques___

Gender: For this feature, we will use label encoding where Male will be denoted as 0 and Female as 1.

Contract Type: This feature has multiple categories so we will use one-hot encoding.

___Step3: Implementation of Encoding Techniques___

For gender, we will use LabelEncoder

For contract type, we will use OneHotEncoder

After encoding, we will finally check the dataset to ensure proper encoding has been carried out.