# Statistics

Q1. What is Statistics?
Q2. Define the different types of statistics and give an example of when each type might be used.

It is a branch of mathematics that deals with numbers and their various perspectives in pratical and industrial applications.

There are 2 types of Statistics:
    
Descriptive

Inferential

Descriptive statistics is used when we have certain amount of data and we analyze its characteristics using mathematical concepts like mean, std dev, grpahs, etc.

Inferential statistics is used when we take out sample data from a large population and analyze the sample data to find out the or predict the nature of the entire population.

Q3. What are the different types of data and how do they differ from each other? Provide an example of
each type of data.

There are 2 types of data:
    
Qualitative (data which cannot be measured in numerical terms)

Quantitative (data which can be measured in numerical terms)

Under qualitative feature, we consider categorical data and under quantitative, we consider continuous data...

Ex: Categorical data like True/False, Pass/Fail, High/Low, etc.

Continuous data like marks of student, sales in HR department, etc.

Q4. Categorise the following datasets with respect to quantitative and qualitative data types:

(i) Grading in exam: A+, A, B+, B, C+, C, D, E

Answer: Quantitative
    
(ii) Colour of mangoes: yellow, green, orange, red

Answer: Qualitative

(iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...]

Answer: Quantitative
    
(iv) Number of mangoes exported by a farm: [500, 600, 478, 672, ...]

Answer: Quantitative

Q5. Explain the concept of levels of measurement and give an example of a variable for each level.

Under the level of measurement, we have 4 concepts:
    
Nominal Scale: This type of data can only be categorized (EXAMPLE: Car brands, Gender,etc.)

Ordinal Scale: This data can be categorized and ranked (EXAMPLE: Feedback rating, etc.)

Interval Scale: This data can be categorized, ranked, and evenly spaced (EXAMPLE: Exam score, temperature range, etc.)

Ratio Scale: This data can be categorized, ranked, evenly spaced, and has a natural zero (EXAMPLE: height, weight, etc.)

Q6. Why is it important to understand the level of measurement when analyzing data? Provide an
example to illustrate your answer.

It is very important to understand the level of measurement because we deal with numerous types of data that support different nature. According to its nature, we have to select best fit method to classify the data and find out the meaningful information from it.

Ex: If we are analyzing the sales report in HR department, we are dealing with continuous data and we know that we cannot apply qualitative staistics here as it will not fit our model. Moreover, it will give us wrong predictions.

Q7. How nominal data type is different from ordinal data type.

Nominal data can only be categorized while Ordinal data can be categorized as well as ranked.

Ex: Under nominal data, we have categories like different breed of dogs. Here, each breed can be categorized but we cannot rank any specific breed as superior or inferior than the other.

Under ordinal data, we have categories like different living status of people like rich, poor, average, etc. Here, we can categorize these status. At the same time, we can also rank them.
Lets say, we can conclude that rich is greater than average and average is greater than poor.

Q8. Which type of plot can be used to display data in terms of range?

Histogram

Q9. Describe the difference between descriptive and inferential statistics. Give an example of each
type of statistics and explain how they are used.

**Already discussed in first question...**

Q10. What are some common measures of central tendency and variability used in statistics? Explain
how each measure can be used to describe a dataset.

Measure of Central Tendency:
    
MEAN (Used to find the average value within a large dataset)

MEDIAN (used to find out the outliers)

MODE (used to find the frequently occuring data)

Variability:

Standard Deviation (Used to find how much a specific data point is deviated from the actual mean value)

Variance (Shows the spreadness of data from the mean)

Lets see a simple example. We will create a dataframe and find out these values:

In [2]:
import pandas as pd

In [5]:
Marks = pd.DataFrame({
    'Marks1':[4,7,9,34,2,12],
    'Marks2':[12,9,3,16,23,16],
    'Marks3':[20,14,8,16,9,24]
})

In [6]:
Marks

   Marks1  Marks2  Marks3
0       4      12      20
1       7       9      14
2       9       3       8
3      34      16      16
4       2      23       9
5      12      16      24

In [7]:
Marks['Marks1'].mean()

11.333333333333334

In [8]:
Marks['Marks2'].median()

14.0

In [9]:
Marks['Marks1'].mode()

0     2
1     4
2     7
3     9
4    12
5    34
Name: Marks1, dtype: int64

In [11]:
Marks['Marks1'].std()

11.656185768366367

In [12]:
Marks['Marks1'].var()

135.86666666666665

In [14]:
Marks['Marks1'].cov

<bound method Series.cov of 0     4
1     7
2     9
3    34
4     2
5    12
Name: Marks1, dtype: int64>